{% for post in paginator.posts %}
<article class="brick entry format-standard animate-this">
    <div class="entry-thumb">
        <a href="{{ post.url | prepend: site.baseurl }}" class="thumb-link">
            {% if post.thumb-img %}
            {% assign = post-thumb = post.thumb-img %}
            {% else if post.header-img%}
            {% assign post-thumb = post.header-img %}
            {% else %}
            {assign thumb-img=site.settings.default-img}
            {% endif %}
            <img src="{{post-thumb | prepend: site.baseurl | prepend:'/' | prepend: site.url}}"
                 alt="building">
        </a>
    </div>
    <div class="entry-text">
        <div class="entry-header">

            <div class="entry-meta">
                <span class="cat-links">{{post.category}}</span>
            </div>

            <h1 class="entry-title"><a href="{{ post.url | prepend: site.baseurl }}">{{post.title}}</a></h1>
        </div>
        <div class="entry-excerpt">
            {{post.excerpt}}
        </div>
    </div>
</article>
{% endfor %}
